.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #b1dbdf;
  color: white;
  .login_container {
    box-shadow: 0 0 10px 10px pink;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(235, 86, 81);
    width: 35%;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        color: white;
      }
    }
    .form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .links {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        text-decoration: underline;
      }
    }
  }
}
